<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script type="text/javascript" src="js/libs/jquery-1.7.js"></script>
    <script type="text/javascript" src="js/toneBox.js"></script>
    <script type="text/javascript" src="js/channel.js"></script>
    <script type="text/javascript" src="js/channelsPool.js"></script>
    <script type="text/javascript" src="js/column.js"></script>
    <script type="text/javascript" src="js/matrix.js"></script>
    
    <style type="text/css">
        #matrix {
            width: 800px;
            height: 600px;
            outline: solid 2px black;
            margin: auto;
            position: relative;
        }

            #matrix button {
                outline: solid 1px gray;
                border: 0;
                position: absolute;
            }

                #matrix button.active {
                    background-color:  green;
                }
    </style>
</head>
<body>
    <div id="matrix">

    </div>
    <div>
        Speed: <input type="range" min="0" max="1" step=".1" id="speedRange"  />
    </div>
    
    <script type="text/javascript">
        $(function () {

            $("#speedRange").change(function () {
                var target = $("#speedRange");
                toneMatrix.speed = target.val();
            });

            toneMatrix = new Matrix(10, 18, 'dub');

            (function () {

                var matrix = $("#matrix");
                var width = matrix.width();
                var height = matrix.height();
                var stepsCount = toneMatrix.steps;
                var notesCount = toneMatrix.notes;
                var noteHeight = height / notesCount;
                var noteWidth = noteHeight;
                for (var i = 0; i < stepsCount; i++) {
                    for (var j = 0; j < notesCount; j++) {
                        var top = j * noteHeight;
                        var left = i * noteWidth;
                        var tone = $("<button></button>");
                        tone.css("top", top + "px");
                        tone.css("left", left + "px");
                        tone.height(noteHeight);
                        tone.width(noteWidth);

                        tone.attr('data-row', i);
                        tone.attr('data-col', j);

                        tone.click(function (ev) {
                            var target = $(ev.target);
                            var row = parseInt(target.attr('data-row'));
                            var col = parseInt(target.attr('data-col'));
                            
                            var box = toneMatrix.getBox(col, row);

                            if (target.hasClass('active')) {
                                target.removeClass('active');
                                box.deactivate();
                            } else {

                                target.addClass('active');
                                box.activate();
                            }
                        });
                        matrix.append(tone);
                    }
                }

            })();
        });
    </script>
</body>
</html>
